body {font-family: Arial; }

h1 {color: #FE2E9A; 
    text-align: center;
}

h2 {color: #CC2EFA; }

span.enfasis {color: #31B404;
               font-style: italic;
               font-weight: bold;
}

span.cita {color: #FF4000; 
}

a {color: #F7BE81; }

