@media all and (min-width: 300px) and (max-width: 719px) {
	body {
		margin: 0 auto;
		background-image: url(./fondogeometria.png);
		/* source:
			https://wallpapersden.com/abstract-wallpapers/mesh-triangles-surface-320.html?resolution=1080x1920 */
		background-size: cover;
		background-repeat: no-repeat;
	}
}

body {
	margin: 0 auto;
	background-image: url(./fondogeometria.png);
	/* source:
		https://wallpapersden.com/abstract-wallpapers/mesh-triangles-surface-320.html?resolution=1080x1920 */
	background-size: cover;
	background-repeat: no-repeat;
}

/* Large-sized screens */
@media all and (min-width: 1000px) {

	header {
		background-color: #f2fcfb;
		margin: 0 auto;
		width: 100%;
		height: 4em;
	}

	#marca_personal {
		float: left;
		height: inherit;
		width: 15%;
		background-color: #f2fcfb;
	    font-family: "Aileron Thin", "Arial";
		font-size: 1.5em;
		text-align: center;
	}

	/* ---------------------------------- */

	#menu_navegacion {
		float: left;
		margin: 0 auto;
		width: 60%;
		height: inherit;
		background-color: #f2fcfb;
	    display: inline;
	    font-family: "Aileron Thin", "Arial";
		text-align: center;
	}

	#menu_navegacion ul {
		list-style-type: none;
		align-items: center;
		justify-content: center;
	}

	#menu_navegacion ul li {
		display: inline;
		justify-content: center;
		align-items: center;

	}

	.click-me1, .click-me2 {
	    -moz-appearance: button;
	    -ms-appearance: button;
	    -o-appearance: button;
	    -webkit-appearance: button;
	    appearance: button;
	    background-color: #f2fcfb;
	    text-decoration: none;
		text-align: center;
	    color: #000;
	    font-size: 1.5em;
		padding: 0.75em;
		display: inline;
	}

	.click-me1:hover, .click-me2:hover {
	    background-color: #060a3f;
	    color: #ffffff;
		padding: 0.75em;
	}

	/* ---------------------------------- */

	#contacto {
	    float: right;
	    width: 20%;
	    height: inherit;
	    background-color: #f2fcfb;
	}

	#contacto a {
	    background-color: #f2fcfb;
	}

	#contacto i {
	    color: #8e241c;
	}

	#contacto a i {
	    float: right;
	    width: inherit;
	    font-size: 3em;
	    display: flex;
	    align-items:center;
	    padding: 7px;
	    padding-right: 10px;
	}

	#contacto a i:hover {
	    background-color: #060a3f;
	    color: #ffffff;
	}
}

/* Medium-sized screens */
@media all and (min-width: 720px) and (max-width: 999px) {

	header {
		background-color: #f2fcfb;
		margin: 0 auto;
		width: 100%;
		height: 4em;
	}

	#marca_personal {
		float: left;
		height: inherit;
		width: 20%;
		background-color: #f2fcfb;
	    font-family: "Aileron Thin", "Arial";
		font-size: 1.5em;
		text-align: center;
	}

	/* ---------------------------------- */

	#menu_navegacion {
		float: left;
		margin: 0 auto;
		width: 50%;
		height: inherit;
		background-color: #f2fcfb;
	    display: inline;
	    font-family: "Aileron Thin", "Arial";
		text-align: center;
	}

	#menu_navegacion ul {
		list-style-type: none;
		align-items: center;
		justify-content: center;
	}

	#menu_navegacion ul li {
		display: inline;
		justify-content: center;
		align-items: center;

	}

	.click-me1, .click-me2 {
	    -moz-appearance: button;
	    -ms-appearance: button;
	    -o-appearance: button;
	    -webkit-appearance: button;
	    appearance: button;
	    background-color: #f2fcfb;
	    text-decoration: none;
		text-align: center;
	    color: #000;
	    font-size: 1.5em;
		padding: 0.75em;
		display: inline;
	}

	.click-me1:hover, .click-me2:hover {
	    background-color: #060a3f;
	    color: #ffffff;
		padding: 0.75em;
	}

	/* ---------------------------------- */

	#contacto {
	    float: right;
	    width: 20%;
	    height: inherit;
	    background-color: #f2fcfb;
	}

	#contacto a {
	    background-color: #f2fcfb;
	}

	#contacto i {
	    color: #8e241c;
	}

	#contacto a i {
	    float: right;
	    width: inherit;
	    font-size: 3em;
	    display: flex;
	    align-items:center;
	    padding: 7px;
	    padding-right: 10px;
	}

	#contacto a i:hover {
	    background-color: #060a3f;
	    color: #ffffff;
	}
}

@media all and (min-width: 300px) and (max-width: 719px) {

	header {
		background-color: #f2fcfb;
		margin: 0 auto;
		width: 100%;
		height: 2.5em;
	}

	#marca_personal {
		float: left;
		height: inherit;
		width: 25%;
		background-color: #f2fcfb;
	    font-family: "Aileron Thin", "Arial";
		font-size: 0.8em;
		text-align: center;
		margin: 1% auto;
	}

	/* ---------------------------------- */

	#menu_navegacion {
		float: left;
		margin: 0 auto;
		width: 55%;
		height: inherit;
		background-color: #f2fcfb;
	    font-family: "Aileron Thin", "Arial";
	}

	#menu_navegacion ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	#menu_navegacion ul li {
		list-style: none;
		margin: 0 auto;
	}

	.click-me1, .click-me2 {
	    -moz-appearance: button;
	    -ms-appearance: button;
	    -o-appearance: button;
	    -webkit-appearance: button;
	    appearance: button;
	    background-color: #f2fcfb;
	    text-decoration: none;
	    color: #000;
	    font-size: 0.8em;
		padding: 1%;
		display: flex;
		text-indent: 30%;
		margin: 0 auto;
	}

	.click-me1:hover, .click-me2:hover {
	    background-color: #060a3f;
	    color: #ffffff;
	}

	/* ---------------------------------- */

	#contacto {
	    float: right;
		height: inherit;
	    width: 20%;
	    background-color: #f2fcfb;
	}

	#contacto a {
	    background-color: #f2fcfb;
	}

	#contacto i {
	    color: #8e241c;
	}

	#contacto a i {
	    float: right;
	    width: inherit;
		height: inherit;
	    font-size: 1.8em;
	    display: flex;
	    align-items:center;
		padding: 12%;
	}

	#contacto a i:hover {
	    background-color: #060a3f;
	    color: #ffffff;
	}
}
/* ---------------------------------- */

/* Termina el header */
/* Empieza la seccion de contenido */

@@media all and (min-width: 1000px) {

	#contenido {
		margin: 0 auto;
		width: 80%;
		height: auto;
		background-color: #fcfaf9;
	}
}

@media all and (min-width: 720px) and (max-width: 999px) {

	#contenido {
		margin: 0 auto;
		width: 80%;
		height: auto;
		background-color: #fcfaf9;
	}
}
@media all and (min-width: 300px) and (max-width: 719px) {

	#contenido {
		margin: 0 auto;
		width: 90%;
		height: auto;
		background-color: #fcfaf9;
	}
}


/* Separacion de pantallas medianas y grandes
	para una mejor visualizacion del contenido */


@media all and (min-width: 1000px) {

	#seccion_habilidades {
		width: inherit;
		height: 150%;
		margin: 12% auto;
		background-color: #fcfaf9;
	    display: flex;
	    justify-content: center;
	}

	#contenedor_habilidades {
	    width: 120%;
	    height: auto;
	    background-color: #fcfaf9;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	#primera_hab, #segunda_hab, #tercera_hab {
	    float: left;
	    height: 120%;
	    width: 20em;
	    background-color: #f9f9f9;
	    margin: 0.2em;
	    border: 1px solid #fcfaf9;
	    align-items: center;
	    justify-content: center;
		text-align: center;
		-webkit-box-shadow: 0 8px 6px -4px black;
	    -moz-box-shadow: 0 8px 6px -4px black;
	    box-shadow: 0 8px 6px -4px black;
	}

	#primera_hab h3, #segunda_hab h3, #tercera_hab h3 {
	    font-size: 1.5em;
	    font-family: 'Unlock', cursive, "Arial";
	}

	#primera_hab p, #segunda_hab p, #tercera_hab p {
	    text-align: center;
	    justify-content: center;
	    padding: 0.5em;
	    font-size: 1.2em;
	    font-family: 'PT Sans Narrow', sans-serif, "Arial";
	}
}

@media all and (min-width: 700px) and (max-width: 999px) {

	#seccion_habilidades {
		width: 90%;
		height: 150%;
		margin: 1% auto;
		background-color: #fcfaf9;
	    display: flex;
	}

	#contenedor_habilidades {
		width: auto;
		height: auto;
		display: block;
		background-color: #fcfaf9;
		margin: 1%;
	}

	#primera_hab, #segunda_hab, #tercera_hab {
	    height: auto;
	    width: auto;
	    background-color: #f9f9f9;
	    margin: 5% auto;
	    border: 1px solid #fcfaf9;
		text-align: center;
		-webkit-box-shadow: 0 8px 6px -4px black;
	    -moz-box-shadow: 0 8px 6px -4px black;
	    box-shadow: 0 8px 6px -4px black;
	}

	#primera_hab h3, #segunda_hab h3, #tercera_hab h3 {
	    font-size: 1.5em;
	    font-family: 'Unlock', cursive, "Arial";
	}

	#primera_hab p, #segunda_hab p, #tercera_hab p {
	    text-align: center;
	    justify-content: center;
	    padding: 0.5em;
	    font-size: 1.2em;
	    font-family: 'PT Sans Narrow', sans-serif, "Arial";
	}
}

@media all and (min-width: 300px) and (max-width: 719px) {

	#seccion_habilidades {
		width: 90%;
		height: 150%;
		margin: 1% auto;
		background-color: #fcfaf9;
	    display: flex;
	}

	#contenedor_habilidades {
		width: auto;
		height: auto;
		display: block;
		background-color: #fcfaf9;
		margin: 1%;
	}

	#primera_hab, #segunda_hab, #tercera_hab {
	    height: auto;
	    width: auto;
	    background-color: #f9f9f9;
	    margin: 5% auto;
	    border: 1px solid #fcfaf9;
		text-align: center;
		-webkit-box-shadow: 0 4px 3px -2px black;
	    -moz-box-shadow: 0 4px 3px -2px black;
	    box-shadow: 0 4px 3px -2px black;
	}

	#primera_hab h3, #segunda_hab h3, #tercera_hab h3 {
	    font-size: 1.5em;
	    font-family: 'Unlock', cursive, "Arial";
	}

	#primera_hab p, #segunda_hab p, #tercera_hab p {
	    text-align: center;
	    justify-content: center;
	    padding: 0.5em;
	    font-size: 1.2em;
	    font-family: 'PT Sans Narrow', sans-serif, "Arial";
	}
}

/* ---------------------------------- */

/* Divider */

hr {
	width: 95%;
	margin: 0.1em auto;
    height: 0px;
    display: block;
    border-top: 2px solid #8c8b8b;
	text-align: center;
}

hr:after {
    content: '§';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #fcfaf9;
	color: #8c8b8b;
	font-size: 0.9em;
}

/* ---------------------------------- */

/* Termina el divider */
/* Comienzan los relatos */

@media all and (min-width: 1000px) {

	#relatos {
		width: 100%;
		height: auto;
		margin: 5% auto;
		background-color: #f9f8f7;
		display: flex;
		justify-content: center;
	}

	#contenedor_relatos {
	    width: 98%;
	    height: auto;
	    background-color: #f9f8f7;
		justify-content: center;
		margin: 0 auto;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 {
		float: left;
		width: 30%;
		height: 18em;
		background-color: #ffffff;
		margin: 0.5em;
	    border-width: 2px;
		border-style: solid;
		border-image:
			-moz-linear-gradient(to bottom right, #db4e30, #bd25b7) 1;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 p {
	    text-align: center;
	    justify-content: center;
	}

	#relato1:hover, #relato2:hover, #relato3:hover,
	#relato4:hover, #relato5:hover, #relato6:hover {
	   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	blockquote {
	  display: block;
	  border-width: 2px 0;
	  border-style: solid;
	  border-color: #eee;
	  padding: 1.5em 0.5em 0.5em;
	  margin: 1.5em 0;
	  position: relative;
	    font-size: 18px;
	}

	blockquote:before {
	  content: '\201C';
	  position: absolute;
	  top: 0em;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background: #fff;
	  width: 3rem;
	  height: 2rem;
	  font: 6em/1.08em 'PT Sans', sans-serif;
	  color: #666;
	    text-align: center;
	}

	blockquote:after {
	  content: "\2013 \2003" attr(cite);
	  display: block;
	  color: #e74c3c;
	  font-size: 0.675em;
	  text-align: right;
	}

	blockquote p {
	    font-family: 'Cantarell', sans-serif;
		font-size: 0.79em;
		font-size-adjust: auto;
	}
}

@media all and (min-width: 720px) and (max-width: 999px) {

	#relatos {
		width: 100%;
		height: auto;
		margin: 2% auto;
		background-color: #f9f8f7;
		display: flex;
		justify-content: center;
	}

	#contenedor_relatos {
	    width: 100%;
	    height: auto;
	    background-color: #f9f8f7;
		justify-content: center;
		margin: 0 auto;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 {
		float: left;
		width: 45%;
		height: 18em;
		background-color: #ffffff;
		margin: 0.6em;
	    border-width: 2px;
		display: flex;
		border-style: solid;
		border-image:
			-moz-linear-gradient(to bottom right, #db4e30, #bd25b7) 1;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 p {
	    text-align: center;
	    justify-content: center;
	}

	#relato1:hover, #relato2:hover, #relato3:hover,
	#relato4:hover, #relato5:hover, #relato6:hover {
	   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	blockquote {
	  display: block;
	  border-width: 2px 0;
	  border-style: solid;
	  border-color: #eee;
	  padding: 1.5em 0.5em 0.5em;
	  margin: 1.5em 0;
	  position: relative;
	    font-size: 17px;
	}

	blockquote:before {
	  content: '\201C';
	  position: absolute;
	  top: 0em;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background: #fff;
	  width: 3rem;
	  height: 2rem;
	  font: 6em/1.08em 'PT Sans', sans-serif;
	  color: #666;
	    text-align: center;
	}

	blockquote:after {
	  content: "\2013 \2003" attr(cite);
	  display: block;
	  color: #e74c3c;
	  font-size: 0.675em;
	  text-align: right;
	}

	blockquote p {
	    font-family: 'Cantarell', sans-serif;
		font-size: 0.79em;
	}
}

@media all (min-width: 300px) and (max-width: 719px) {

	#relatos {
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-color: #f9f8f7;
		display: flex;
		justify-content: center;
	}

	#contenedor_relatos {
	    width: 90%;
	    height: auto;
	    background-color: #f9f8f7;
		justify-content: center;
		margin: 0 auto;
		display: flex;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 {
		width: 80%;
		height: 20em;
		background-color: #ffffff;
		margin: 0;
	    border-width: 1px;
		display: block;
		border-style: solid;
		border-image:
			-moz-linear-gradient(to bottom right, #db4e30, #bd25b7) 0.5;
	}

	#relato1, #relato2, #relato3,
	#relato4, #relato5, #relato6 p {
	    text-align: center;
	    justify-content: center;
	}

	#relato1:hover, #relato2:hover, #relato3:hover,
	#relato4:hover, #relato5:hover, #relato6:hover {
	   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
	}

	blockquote {
	  display: block;
	  border-width: 2px 0;
	  border-style: solid;
	  border-color: #eee;
	  padding: 0;
	  margin: 0 auto;
	  position: relative;
	    font-size: 8px;
	}

	blockquote p {
	    font-family: 'Cantarell', sans-serif;
		font-size: 0.2em;
	}
}

/* ---------------------------------- */

/* Termina el contenido */
/* Empieza la seccion de footer */

footer {
	width: 100%;
	height: 4em;
	background-color: #f2fcfb;
}

#caja_footer {
	width: inherit;
	height: inherit;
	background-color: #f2fcfb;
}

#licencia {
	float: left;
	width: 20%;
	height: inherit;
	background-color: #f2fcfb;
    display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

#licencia p {
	margin: 5%;
}

#licencia i {
	background-color: #f2fcfb;
	font-size: 1em;
	margin: 0 auto;
	padding: 0.8em;
}

/* ---------------------------------- */

#codigo_github {
	float: left;
	width: 60%;
	display: flex;
	height: inherit;
	margin;
	align-items: center;
	justify-content: center;
}

#codigo_github i {
	font-size: 2.5em;
	color: #b21d03;
}

#codigo_github i:hover {
	cursor: pointer;
	color: #060a3f;
}


/* ---------------------------------- */

#logos_redes {
	float: right;
	width: 15%;
	height: inherit;
	background-color: #f2fcfb;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logos_redes i {
    float: right;
    font-size: 2em;
    color: #b21d03;
	margin: 0.2% auto;
}

#logos_redes i:hover {
    color: #060a3f;
    border-radius: 50%;
    cursor: pointer;
}
