body, html {
	margin: 0;
}

body {
	width: 1024px;
	margin: 0 auto;
	background-image: url(./fondogeometria.png);
	/* source:
		https://wallpapersden.com/abstract-wallpapers/mesh-triangles-surface-320.html?resolution=1080x1920 */
	background-size: cover;
	background-repeat: no-repeat;
}

header {
    width: 1024px;
	height: 70px;
	background-color: #f2fcfb;
}

#marca_personal {
	float: left;
	width: 128px;
	height: 70px;
	background-color: #f2fcfb;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-family: "Aileron Thin", "Arial";
    text-align: center;
}

/* ---------------------------------- */

#menu_navegacion {
	float: left;
	width: 300px;
	height: 70px;
	background-color: #f2fcfb;
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Aileron Thin", "Arial";
    margin-left: 200px;
	margin-right: 200px;
}

.click-me1, .click-me2 {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    background-color: #f2fcfb;
    text-decoration: none;
	text-align: center;
    color: #000;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 17px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.click-me1:hover, .click-me2:hover {
    background-color: #060a3f;
    color: #ffffff;
}

#menu_navegacion ul {
	list-style-type: none;
	align-items: center;
}

#menu_navegacion ul li {
	display: inline;

}

/* ---------------------------------- */

#contacto {
    float: right;
    width: 128px;
    height: 70px;
    background-color: #f2fcfb;
    display: flex;
}

#contacto a {
    float: right;
    background-color: #f2fcfb;
    display: flex;
}

#contacto i {
    color: #8e241c;
}

#contacto a i {
    float: right;
    width: 60px;
    font-size: 64px;
    display: flex;
    align-items:center;
    margin-left: 50px;
    padding: 7px;
    padding-right: 10px;
}

#contacto a i:hover {
    background-color: #060a3f;
    color: #ffffff;
}

/* ---------------------------------- */

/* Termina el header */
/* Empieza la seccion de contenido */

#contenido {
	width: 1024px;
	height: auto;
	background-color: #fcfaf9;
}

#habilidades {
	width: 1024px;
	height: 680px;
	background-color: #fcfaf9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor_habilidades {
    width: 1024px;
    height: 500px;
    background-color: #fcfaf9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#primera_hab, #segunda_hab, #tercera_hab {
    float: left;
    height: 497px;
    width: 328px;
    background-color: #f9f9f9;
    margin: 5px;
    border: 1px solid #fcfaf9;
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 99;
	-webkit-box-shadow: 0 8px 6px -4px black;
    -moz-box-shadow: 0 8px 6px -4px black;
    box-shadow: 0 8px 6px -4px black;
}

#primera_hab h3, #segunda_hab h3, #tercera_hab h3 {
    text-align: center;
    font-size: 32px;
    font-family: 'Unlock', cursive, "Arial";
}

#primera_hab p, #segunda_hab p, #tercera_hab p {
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif, "Arial";
}

/* ---------------------------------- */

/* Divider */

hr {
	width: 1004px;
    height: 0px;
    display: block;
    border-top: 2px solid #8c8b8b;
	text-align: center;
}

hr:after {
    content: '§';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #fcfaf9;
	color: #8c8b8b;
	font-size: 16px;
}

/* ---------------------------------- */

/* Termina el divider */

#relatos {
	width: 1024px;
	height: 757px;
	background-color: #f9f8f7;
	display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor_relatos {
    width: 1024px;
    height: 700px;
    background-color: #f9f8f7;
    display: block;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
}

#relato1, #relato2, #relato3,
#relato4, #relato5, #relato6 {
	float: left;
	width: 315px;
	height: 330px;
	background-color: #ffffff;
	text-align: center;
    margin: 10px;
    align-content: center;
    border-width: 2px;
	border-style: solid;
	border-image:
		-moz-linear-gradient(to bottom right, #db4e30, #bd25b7) 1;
}

#relato1, #relato2, #relato3,
#relato4, #relato5, #relato6 p {
    text-align: center;
    justify-content: center;
}

#relato1:hover, #relato2:hover, #relato3:hover,
#relato4:hover, #relato5:hover, #relato6:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0.5em 0.5em;
  margin: 1.5em 0;
  position: relative;
    font-size: 18px;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
    text-align: center;
}

blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  color: #e74c3c;
  font-size: 0.675em;
  text-align: right;
}

blockquote p {
    font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	font-size-adjust: auto;
}

/* ---------------------------------- */

/* Termina el contenido */
/* Empieza la seccion de footer */

footer {
	width: 1024px;
	height: 70px;
	background-color: #f2fcfb;
}

#caja_footer {
	width: 1024px;;
	height: 70px;
	background-color: #f2fcfb;
}

#licencia {
	float: left;
	width: 300px;
	height: 70px;
	background-color: #f2fcfb;
    display: inline-block;
    align-content: center;
}

#licencia i {
    width: auto;
    height: 70px;
    display: inline-block;
    align-content: center;
    background-color: #f2fcfb;
    font-size: 24px;
	color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-text {
    vertical-align: baseline;
    font-size: 16px;
    margin-left: 10px;
}

/* ---------------------------------- */

#logos_redes {
	float: right;
	width: 200px;
	height: 70px;
	background-color: #f2fcfb;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#logos_redes i {
    float: left;
    font-size: 32px;
    margin-right: 10px;
    color: #8e241c;
}

#logos_redes i:hover {
    color: #060a3f;
    border-radius: 50%;
    cursor: pointer;
}
